<section fxLayout fxLayoutAlign="center center ">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>New User</mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column" fxLayoutGap="0%">

                <div fxLayout fxLayoutGap="5%" style="padding-top: 5%">
                    <mat-form-field appearance="outline" fxFlex="50%">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First name" required autocomplete="off" formControlName="firstName">
                        <mat-error>Mandatory field</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="45%">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last name" required autocomplete="off" formControlName="lastName">
                        <mat-error>Mandatory field</mat-error>
                    </mat-form-field>
                </div>


                <div class="divTest2" fxLayout>
                    <mat-form-field appearance="outline" fxFlex="50%">
                        <mat-label>Name(s)</mat-label>
                        <input matInput placeholder="Name(s)" required autocomplete="off" formControlName="name">
                        <mat-error>Mandatory field</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout fxLayoutGap="5%">
                    <mat-form-field appearance="outline" fxFlex="70%">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" type="email" required autocomplete="off" formControlName="email">
                        <mat-error>Mandatory field</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="25%">
                        <mat-label>Key</mat-label>
                        <input matInput placeholder="Key" required autocomplete="off" formControlName="key">
                        <mat-error>Mandatory field</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout>
                    <mat-form-field fxFlex="70%" appearance="outline">
                        <mat-label>Profile</mat-label>
                        <mat-select required formControlName="profile" (selectionChange)="selectProfile($event)">
                            <mat-option *ngFor="let profile of profiles" [value]="profile.name">
                                {{profile.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Mandatory field</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout *ngIf="profileSelected">
                    <mat-form-field fxFlex="100%" appearance="outline">
                        <mat-label> <strong>Profile description</strong></mat-label>
                        <textarea matTextareaAutosize disabled matInput [value]="profileSelected.description" placeholder="Profile description"> </textarea>
                    </mat-form-field>
                </div>

                <mat-divider mat-inset></mat-divider>
            </mat-card-content>
            <div class="bt-fotter" fxLayout fxLayoutGap="5%">
                <button type="submit" mat-raised-button color="primary" fxFlex="50%" [disabled]="userForm.invalid">
                    Save<mat-icon >    check_circle_outline </mat-icon>
                </button>
                <button type="button" (click)="resetForm()" mat-raised-button color="accent" fxFlex="50%">
                        Reset<mat-icon>    cancel </mat-icon>
                    </button>
            </div>
        </mat-card>
    </form>
</section>
<br>