mat-card {
    width: 300px;
}

mat-card-header {
    padding-top: 10px;
    color: white;
}

mat-card-content {
    padding-top: 15px;
    padding-bottom: 0px;
}

.bt-fotter {
    padding-top: 0%;
}

.bt-fotter button {
    color: white;
}