<mat-horizontal-stepper labelPosition="bottom" #stepper linear>
    <mat-step [stepControl]="registerFormGroup" editable="false">
        <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Register a new event</ng-template>

            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        General Information
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <div fxLayout="row " fxLayoutGap="4% ">
                        <mat-form-field fxFlex="48% ">
                            <mat-label>Title</mat-label>
                            <input type="text " matInput autocomplete="off" placeholder="Title" formControlName="title" required>
                            <mat-hint><strong>Please enter a name</strong></mat-hint>
                            <mat-error>Mandatory field</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="48% ">
                            <mat-label>Subjet</mat-label>
                            <input ype="text " matInput autocomplete="off" placeholder="Subject " #subject maxlength="100 " formControlName="subject" required>
                            <mat-hint align="start "><strong>Description</strong> </mat-hint>
                            <mat-hint align="end ">{{subject.value.length}} / 100</mat-hint>
                            <mat-error>Mandatory field</mat-error>
                        </mat-form-field>
                    </div>
                    <br>

                    <div fxLayout="row " fxLayoutGap="4% ">

                        <div fxFlex="48% " fxLayoutGap="4% ">
                            <mat-form-field fxFlex="48% ">
                                <mat-label>Kind of event</mat-label>
                                <mat-select required formControlName="kind">
                                    <mat-option value="Birthday ">Birthday</mat-option>
                                    <mat-option value="Ceremony ">Ceremony</mat-option>
                                    <mat-option value="Kick off ">Kick off</mat-option>
                                    <mat-option value="Project ">Project</mat-option>
                                    <mat-option value="Other ">Other</mat-option>
                                </mat-select>
                                <mat-error>Mandatory field</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="48% ">
                                <input matInput autocomplete="off" [matDatepicker]="picker " placeholder="Choose a date " formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxFlex="48% " fxLayoutGap="4% ">

                            <mat-form-field fxFlex="48% ">
                                <mat-label>Starting time</mat-label>
                                <input matInput placeholder="Title " autocomplete="off " formControlName="startE" placeholder="Starting time " (click)="onClicTimeStart() " [type]="typeInputTimeStart " required>
                                <mat-error>Mandatory field</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="48% ">
                                <mat-label>Ending time</mat-label>
                                <input matInput placeholder="Title " autocomplete="off " formControlName="finishE" placeholder="Ending time " (click)="onClicTimeEnding() " [type]="typeInputTimeEnding " required>
                                <mat-error>Mandatory field</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div fxLayout="row " fxLayoutGap="4% ">
                        <mat-form-field fxFlex="48% ">
                            <mat-label>Celebretaion Place</mat-label>
                            <mat-select required formControlName="place">
                                <mat-option value="Bussness Administrator ">CDMX</mat-option>
                                <mat-option value="New York ">New York</mat-option>
                                <mat-option value="Paris ">Paris</mat-option>
                                <mat-option value="London ">London</mat-option>
                                <mat-option value="Tokio ">Tokio</mat-option>
                            </mat-select>
                            <mat-error>Mandatory field</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div fxLayout="row " fxLayoutGap="4% ">

                        <div fxFlex="48% " fxLayoutGap="4% ">
                            <mat-form-field fxFlex="48% ">
                                <mat-label>Menu</mat-label>
                                <mat-select required formControlName="menu" (selectionChange)="selectMenu($event)">
                                    <mat-option *ngFor="let menu of menus" [value]="menu.name">
                                        {{menu.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Mandatory field</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="48%" *ngIf="menuSelected">
                                <mat-label>Menu description</mat-label>
                                <textarea matTextareaAutosize disabled matInput [value]="menuSelected.description" placeholder="Menu description"> </textarea>
                            </mat-form-field>

                        </div>

                        <div fxFlex="48% " fxLayoutGap="4% ">


                            <mat-form-field fxFlex="48% ">
                                <mat-label>Quorum</mat-label>
                                <input matInput placeholder="Title " formControlName='quorum' (keyup)="onKey($event)" autocomplete="off" placeholder="How many person... " type="number" required>
                                <mat-error>Mandatory field</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="48%" *ngIf="menuSelected">
                                <mat-label>Price by person</mat-label>
                                <textarea matTextareaAutosize disabled matInput placeholder="Price by Person " [value]="menuSelected.cost"> </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div fxLayout="row " fxLayoutGap="4% " *ngIf="menuSelected">
                        <mat-form-field fxFlex="48% ">
                            <mat-label>Total Price</mat-label>
                            <input matInput placeholder="Total Price " disabled [value]="costTotal">
                        </mat-form-field>
                    </div>


                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between start ">
                    <button mat-raised-button color="accent" (click)="stepper.reset() ">Reset</button>
                    <button mat-raised-button color="primary" matStepperNext>Next Step</button>

                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>
    <mat-step [stepControl]="aproveFormGroup ">
        <form [formGroup]="aproveFormGroup ">
            <ng-template matStepLabel>Verify your approval</ng-template>
            <mat-card>

                <mat-card-content>


                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayout="row " fxLayoutAlign="space-between start ">
                    <button mat-raised-button color="accent" (click)="stepper.reset() ">Reset</button>
                    <button mat-raised-button color="primary" matStepperNext>Next Step</button>
                </mat-card-actions>

            </mat-card>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset() ">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<!-- <mat-form-field fxFlex="50% ">
        <mat-label>Register day</mat-label>
        <input matInput [matDatepicker]="dp1 " placeholder="Register day " disabled>
        <mat-datepicker-toggle matSuffix [for]="dp1 "></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field> -->