<section>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div style="padding-top: 20px;padding-bottom: 0px; margin-bottom: 0px;">
            <h1 class="mat-display-1">Welcome to the SAGETI.</h1>
        </div>
        <div style="padding-top: 0px;">
            <h3 class="mat-h3">You can manage and control your events, as well as the money allocated to your administration</h3>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div fxLayout.gt-md=”row” fxLayoutAlign.gt-md="space-around center">
        <!-- * There sholud be gab when the screen is lower than md-->
        <mat-card (click)="goUser()" fxFlex.gt-md="35%">
            <mat-card-header>
                <div mat-card-avatar class="users"></div>
                <mat-card-title>Users</mat-card-title>
                <mat-card-subtitle>
                    Module specialized in user management and its privileges
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <br>
        <mat-card (click)="goEvents()" fxFlex.gt-md="35%">
            <mat-card-header>
                <div mat-card-avatar class="events"></div>
                <mat-card-title>Events</mat-card-title>
                <mat-card-subtitle>
                    Specialized module in event management, administration
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</section>