<mat-nav-list>
    <a mat-list-item routerLink="/dashboard/events" (click)="onClose()">
      <mat-icon>calendar_today</mat-icon> Events
    </a>
    
    <a mat-list-item routerLink="/dashboard/users" (click)="onClose()">
      <mat-icon>people_outline</mat-icon> Users
    </a>

  
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-list-item routerLink="/dashboard/users" (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon> Login
        </a>      
    </mat-list-item>
</mat-nav-list>